* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 50px;
  background-color: #000;
  color: #fff; 
  font-family: "Lucida Console", Monaco, monospace;
  text-align: right;

}

main {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;

}

h1 {
  position: relative;
  font-size: 70px;
  margin-right: 100px;
  color: #fff;
}

.sketch-container {
  position: relative;
  right: 20px;
}

canvas {
  border: 5px solid #fff;
}