body, html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: "Lucida Console", Monaco, monospace;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group {
  position: absolute;
  bottom: 225px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.btn {
  background-color: #512B96;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Lucida Console", Monaco, monospace;
}

.btn:hover {
  background-color: #2F409B;
}
